@import 'tailwindcss';

body {
    font-family: 'Roboto', sans-serif;
    color: #787C82;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}