@import 'tailwindcss';

body {
    font-family: 'Roboto', sans-serif;
    color: #787C82;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242B33;
    padding: 2rem 1rem;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.logo {
    width: 80%;
    margin-bottom: 2rem;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #B5B8BF;
}

.form-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
}

.input-icon.left {
    left: 14px;
}

.input-icon.right {
    right: 14px;
    cursor: pointer;
}

form {
    width: 90%;
}

.form-group input {
    width: 100%;
    padding: 14px 45px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.15);
    background: rgba(255,255,255,0.05);
    color: white;
    font-size: 14px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #305AB8;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

/* Small phones (max 400px) */
@media (max-width: 400px) {
    .container {
        width: 88%;
        padding: 1.5rem 0.75rem;
    }

    h1 {
        font-size: 20px;
    }

    .form-group input {
        padding: 11px 45px;
        font-size: 13px;
    }

    button {
        padding: 10px;
        font-size: 13px;
    }
}

/* Medium phones (401px - 767px) */
@media (min-width: 401px) and (max-width: 767px) {
    .container {
        width: 85%;
        max-width: 400px;
    }
}

/* Tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 480px;
        padding: 2.5rem 1.5rem;
    }

    h1 {
        font-size: 26px;
    }

    .form-group input {
        font-size: 16px;
        padding: 16px 45px;
    }

    button {
        padding: 14px;
        font-size: 16px;
    }
}

/* Bigger tablets (1024px - 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .container {
        width: 520px;
        padding: 3rem 2rem;
    }

    h1 {
        font-size: 28px;
    }

    .form-group input {
        font-size: 20px;
        padding: 18px 45px;
    }

    button {
        padding: 20px;
        font-size: 17px;
    }
}