@import 'tailwindcss';

body {
    font-family: 'Roboto', sans-serif;
    color: #787C82;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242B33;
    padding: 2rem 1rem;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.logo {
    width: 80%;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
}

.input-icon.left {
    left: 14px;
}

.input-icon.right {
    right: 14px;
    cursor: pointer;
}

form {
    width: 90%;
}

.form-group input {
    width: 100%;
    padding: 14px 45px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.15);
    background: rgba(255,255,255,0.05);
    color: white;
    font-size: 14px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #305AB8;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.auth-links {
    width: 70%;
    margin-top: 30px;
    text-align: center;
}

.redirect-text {
    margin-bottom: 20px;
    font-size: 14px;
    color: #8c9198;
}

.redirect-text a {
    color: #3b82f6;
    text-decoration: none;
    margin-left: 5px;
}

.redirect-text a:hover {
    text-decoration: underline;
}

.auth-divider {
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.15);
    margin: 20px 0;
}

.forgot-link {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    color: #9aa0a6;
    text-decoration: none;
}

.forgot-link:hover {
    color: white;
}