@import 'tailwindcss';

body {
    font-family: 'Roboto', sans-serif;
    color: #787C82;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242B33;
    padding: 2rem 1rem;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.logo-link {
    display: block;
    text-align: center;
    width: 80%;
}

.logo {
    width: 100%;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
}

.input-icon.left {
    left: 14px;
}

.input-icon.right {
    right: 14px;
    cursor: pointer;
}

form {
    width: 90%;
}

.form-group input {
    width: 100%;
    padding: 14px 45px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.15);
    background: rgba(255,255,255,0.05);
    color: white;
    font-size: 14px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #305AB8;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}